<?xml version="1.0"?>
<ruleset name="Politeia Reading">
  <description>WordPress Coding Standards for Politeia Reading plugin.</description>

  <!-- Archivos a analizar -->
  <file>.</file>
  <exclude-pattern>vendor/</exclude-pattern>

  <!-- Reglas de WordPress -->
  <rule ref="WordPress"/>
  <rule ref="WordPress-Extra"/>
  <rule ref="WordPress-Docs"/>
  <rule ref="WordPress-Core"/>

  <!-- Configuración -->
  <config name="minimum_supported_wp_version" value="5.0"/>
  <config name="testVersion" value="7.4-"/>
</ruleset>
